<table>
    <thead>
        <tr>
            <th>
                Index
            </th>
            <th>
                Nonce
            </th>
            <th>
                Hash
            </th>
            <th>
                IP
            </th>
            <th>
                Port
            </th>
        </tr>
    </thead>
    <tbody>
        <% for(let i = nodes.length - 1; i >= 0; i--){ %>
            <tr>
                <td>
                    <%= nodes[i].index %>
                </td>
                <td>
                    <%= nodes[i].nonce %>
                </td>
                <td>
                    <%= nodes[i].hash %>
                </td>
                <td>
                    <%= nodes[i].IP %>
                </td>
                <td>
                    <%= nodes[i].port %>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>