<% if (data.Areas) {if(data.Areas === '*'){
    data.Areas = 'All'
    console.log(data.Prices[0])
}} %>
<div class="loading-container">
    <div class="loading">
        <div class="loading_spinner">
            <div class="loading_text">
                Pending Admin approval
            </div>
        </div>
    </div>
</div>

<section class="dashboard">
    <div class="dashboard-container-deep module-outer"> 
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Name
            </div>
            <div class="dashboard-container__data-text">
                <%= Email %>
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Blockchain ID
            </div>
            <div class="dashboard-container__data-text">
                <%= BlockchainID %>
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                API Key
            </div>
            <div class="dashboard-container__data-text">
                4dcc24bc0a61fee01812876e069d2e723219084a1fbf6f89cc50774970623759
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Customers
            </div>
            <div class="dashboard-container__data-text">
                <%= data.Customer ? data.Customer.length : 0 %>
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Production overhead
            </div>
            <div class="dashboard-container__data-text">
                40.203%
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Current price
            </div>
            <div class="dashboard-container__data-text">
                0.43 DKK / kW
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Hourly income
            </div>
            <div class="dashboard-container__data-text">
                1000 DKK
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Income this month
            </div>
            <div class="dashboard-container__data-text">
                30.000 DKK
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Eco rating
            </div>
            <div class="dashboard-container__data-text">
                94
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Distribution area
            </div>
            <div class="dashboard-container__data-text">
                <%= data.Areas ? data.Areas : "None" %>
            </div>
        </div> 
        <% if (data.Prices.length > 1){ %>
            <form action="setPriceFunction">
                <div class="dashboard-container__data">
                    <div class="dashboard-container__data-header">
                        Area
                    </div>
                    <div class="dashboard-container__data-text">
                        <select>
                            
                        </select>
                    </div>
                </div>
                <div class="dashboard-container__data">
                    <div class="dashboard-container__data-header">
                        Lower bound price
                    </div>
                    <div class="dashboard-container__data-text">
                        <input type="number">
                    </div>
                </div>
                <div class="dashboard-container__data">
                    <div class="dashboard-container__data-header">
                        Upper bound price
                    </div>
                    <div class="dashboard-container__data-text">
                        <input type="number">
                    </div>
                </div>
            </form>
        <% } else if (data.Prices.length == 1) { %> 
            <form action="setPriceFunction">
                <div class="dashboard-container__data">
                    <div class="dashboard-container__data-header">
                        Area
                    </div>
                    <div class="dashboard-container__data-text">
                        <%= data.Prices[0].Areas %>
                        <input type="hidden" name="ID" value="<%= BlockchainID %>">
                    </div>
                </div>
                <div class="dashboard-container__data">
                    <div class="dashboard-container__data-header">
                        Lower bound price
                    </div>
                    <div class="dashboard-container__data-text">
                        <input type="text" name="Lower" value="<%= data.Prices[0].Bottom %>">
                    </div>
                </div>
                <div class="dashboard-container__data">
                    <div class="dashboard-container__data-header">
                        Upper bound price
                    </div>
                    <div class="dashboard-container__data-text">
                        <input type="text" name="Lower" value="<%= data.Prices[0].Top %>">
                    </div>
                </div>
                <div class="dashboard-container__data">
                    <div class="dashboard-container__data-header">
                        Save
                    </div>
                    <div class="dashboard-container__data-text">
                        <input class="login__submit" type="submit" name="submit" value="Save">
                    </div>
                </div>
            </form>
        <% } %>
    </div>

    <div class="dashboard-container-big module-outer">
        <div id="ChartDiv">

            <canvas id="chart">
    
            </canvas>
        </div>
    </div>

    <div class="dashboard-container-small module-outer">
        Forecast
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Avg wind speed
            </div>
            <div class="dashboard-container__data-text">
                12
            </div>
        </div>
        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                Predicted energy produced
            </div>
            <div class="dashboard-container__data-text">
                1023 mW
            </div>
        </div>

        <div class="dashboard-container__data">
            <div class="dashboard-container__data-header">
                3
            </div>
            <div class="dashboard-container__data-text">
                95
            </div>
        </div>
    </div>
    <div class="dashboard-container module-outer Button">
        <a href="/CreateArea">
            Add Area
        </a>        
    </div>
    <div class="dashboard-container module-outer Button">
        Button
        
    </div>
    <div class="dashboard-container module-outer Button">
        Button
        
    </div>
    <div class="dashboard-container module-outer Button">
        Button
        
    </div>
</section>