<%- include('../includes/head.ejs') %>
<body>
  <header class="living-background2">
    <%- include('../includes/header.ejs') %>
  </header>
  <main class="main">
    <%- include('../includes/nav.ejs') %>
    <% if(Type === 'Customer') { %>
      <%- include('../includes/dashboard.ejs') %>
    <% } %>
    <% if(Type === 'Provider') { %>
      <%- include('../includes/provider.ejs') %>
    <% } %>
    <% if(Type === 'Pending') { %>
      <%- include('../includes/Pending.ejs') %>
    <% } %>
  </main>
  <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>