<%- include('../includes/head.ejs') %>
<body>
  <main class="main">
    <%- include('../includes/nav.ejs') %>
    <%- include('../includes/index.ejs') %>
  </main>
  <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>