<%- include('../includes/head.ejs') %>

<body>
  <header class="living-background2">
    <%- include('../includes/header.ejs') %>
  </header>
  <main class="main">
    <%- include('../includes/nav.ejs') %>
    <%- include('../auth/reset.ejs') %>
  </main>
  <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>